{
"apiVersion": "v1",
"kind": "Pod",
"metadata": {
  "name": "k8s-master",
  "namespace": "kube-system"
},
"spec":{
  "hostNetwork": true,
  "containers":[
    {
      "name": "controller-manager",
      "image": "gcr.io/google_containers/hyperkube-amd64:{{ k8s_version }}",
      "command": [
              "/hyperkube",
              "controller-manager",
              "--master=http://{{ k8s_master }}:8080",
              "--min-resync-period=3m",
              "--v=2"
      ],
      "volumeMounts": [
        {
          "name": "data",
          "mountPath": "/srv/kubernetes"
        }
      ]
    },
    {
      "name": "apiserver",
      "image": "gcr.io/google_containers/hyperkube-amd64:{{ k8s_version }}",
      "command": [
              "/hyperkube",
              "apiserver",
              "--service-cluster-ip-range={{ k8s_ip_range }}",
              "--insecure-bind-address={{ ansible_host }}",
              "--etcd-servers=http://{{ k8s_master }}:4001",
              "--min-request-timeout=300",
              "--allow-privileged=true",
              "--v=2"
      ],
      "volumeMounts": [
        {
          "name": "data",
          "mountPath": "/srv/kubernetes"
        }
      ]
    },
    {
      "name": "scheduler",
      "image": "gcr.io/google_containers/hyperkube-amd64:{{ k8s_version }}",
      "command": [
              "/hyperkube",
              "scheduler",
              "--master=http://{{ k8s_master }}:8080",
              "--v=2"
        ]
    }
  ],
  "volumes": [
    {
      "name": "data",
      "emptyDir": {}
    }
  ]
 }
}