[[local|localrc]]
LOG_COLOR=False

ADMIN_PASSWORD=secret
DATABASE_PASSWORD=secret
RABBIT_PASSWORD=secret
SERVICE_PASSWORD=secret

disable_service n-net
disable_service n-cpu
enable_service n-novnc
enable_service q-svc
enable_service q-agt
enable_service q-dhcp
enable_service q-l3
enable_service q-meta

# Enable LBaaS
enable_plugin neutron-lbaas https://git.openstack.org/openstack/neutron-lbaas stable/mitaka
ENABLED_SERVICES+=,q-lbaasv2
NEUTRON_LBAAS_SERVICE_PROVIDERV2=LOADBALANCERV2:Haproxy:neutron_lbaas.drivers.haproxy.plugin_driver.HaproxyOnHostPluginDriver:default

# Octavia
#enable_plugin octavia https://github.com/openstack/octavia stable/mitaka
#ENABLED_SERVICES+=,octavia,o-cw,o-hk,o-hm,o-api
#OCTAVIA_MGMT_SUBNET=192.168.5.0/24
#OCTAVIA_MGMT_SUBNET_START=192.168.5.2
#OCTAVIA_MGMT_SUBNET_END=192.168.5.200